.second-color {
  color:#c7d2db; 
}

.blue-color {
  color:#63a6e1; 
}

.dark-background {
  background: #222;
}

body {
  height: 100%;
  width: 100%; 
}

.App {
  font-family: 'Ubuntu', sans-serif;
  background-color: #c7d2db;
  height:100%;
  width: 100%;
  text-align: center;
  display: inline-block;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background: #c7d2db;
  border:none;
}

.orange {
  color:#bf4d28;
}

button:hover {
  background:#bf4d28;
  color: #c7d2db;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.h1 {
  padding: 15px;
  text-align: center;
}

.bold {
  font-weight: bold; 
}


.element { 
  width: 100px; 
  height: 100px;
  border-radius: 10px;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  padding-right: 0px;
  color: white;
}

.left-header {
  display: inline-block;
  margin-top: -15px;
}

.logo {
  vertical-align:middle;
}

.title {
  color: #bf4d28;
  margin-left: 50px; 
  font-size: 18px;
  vertical-align: middle;
  padding-top: 5px;
}

.footer {
  padding: 15px;
  font-size: 18px; 
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.column {
  display:flex;
  flex-direction:column;
  width: 25%;
  margin: 0 auto;
}

.footer-name {
  display: block;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  display:block; 
}

.block.footermark {
  padding-left: 15px; 
}

.contactitem.small {
  padding: 10px;
  display: inline-block;
  width: 30%;
}

.footerlogo{
  width: 300px; 
  padding:15px;
  padding-left: 0px;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Team-Header {
  
  background-size: 100%; 
  width:940px;
  height:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}


p {
  margin: 0 auto; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  text-align: left;
  width: 100%;
}

.gallery-cover-text {
  width: 70%;
  display:inline-block;
  background-color: none;
  color:#bf4d28; 
  padding-top: 30px; 
  padding-bottom: 30px;
  margin-left:auto; 
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  font-size:50px;
} 

.footer { 
  width: 100%;
}

.blog-header {
  width: 70%;
  display:inline-block;
  background-color: none;
  color:#bf4d28; 
  padding-top: 30px; 
  padding-bottom: 30px;
  margin-left:auto; 
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  font-size:50px;
}

.no-posts {
  padding: 30px; 
  padding-top: 60px; 
  padding-bottom: 60px; 
  color: #222; 
}

@media only screen and (max-width: 1000px) {
  .gallery-cover-text {
    font-size: 40px; 
  }
}

@media only screen and (max-width: 700px) {
  .gallery-cover-text {
    font-size: 25px; 
  }
}